
@media only screen and (max-width:768px) {

    
}


.shop-contet{
    height: fit-content;
    display: flex;
flex-direction:inherit;
justify-content: space-around;
align-items: center;
background-color: white;
flex-wrap: wrap;
gap: 100px;
width: 1280px;
    margin: 40px auto;
    padding: 20px;
}

.product-box{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-img{
    align-items: center;

}
.box-text{
    align-items: center;
    text-align: center;
}

.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
z-index: -1;
transition: all 0.3s ease-in-out;
}
.popup .open{
   opacity: 1;
   z-index: 999;
}


img{
width: 300px;
}