
        /* Hero Section (Demo) */
        .hero {
            height: calc(100vh - 73px);
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        .hero-content {
            text-align: center;
           
        }

        .hero-title {
            font-size: 60px;
            font-weight: 1000;
            color: #f42042;
            margin-bottom: 16px;
            letter-spacing: -1px;
            
        }

        .hero-title .highlight {
            color: #E10600;
            text-shadow: #ffffff 0 0 10px;
        }

        .hero-subtitle {
            color: rgba(255, 255, 255, 0.8);
            font-size: 20px;
            margin-bottom: 10%;
        }
        .hero-slideshow {
            display: flex;
            gap: 20px;
            justify-content: center;
           
        }
        .hero-slideshow img{ 
            max-width: 500px;
            max-height: 500px;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            border-radius: 8px;
            border-radius:15%;
        }

        /* Responsive Design */
        @media only screen and (max-width: 600px) {
            .container{
                width: 100%;
            }
             .nav {
                display: none;
             }
        }

        @media only screen and (max-width: 768px) {
            .container{
                width: 100%;
            }
            .nav {
                display: none;}
             .hero-title {
                font-size: 50px;
            }

            .hero-slideshow img {
                max-width: 300px;
                max-height: 300px;
            }
        }
         @media only screen and (min-width: 769px) {
            .menu-toggle {
                display: none; /* Hide the toggle button on desktop */
            }
        }